Source: erlang-riak-protobuf
Maintainer: Mathias Ertl <mati@jabber.at>
Section: libs
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/basho/riak_pb
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), erlang-dev (>= 1:13.b.4),
 dh-rebar, erlang-parsetools, erlang-syntax-tools, erlang-protobuf
VCS-Git: https://github.com/jabber-at/riak_pb.git
VCS-Browser: https://github.com/jabber-at/riak_pb

Package: erlang-riak-protobuf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 erlang-base-hipe | erlang-base | ${erlang-abi:Depends}, ${erlang:Depends}
Description: Riak Protocol Buffers Messages
 This repository contains the message definitions for the Protocol
 Buffers-based interface to Riak and various Erlang-specific utility modules
 for the message types.
